# 서버 설정
PORT=3003
NODE_ENV=development



# PostgreSQL 데이터베이스 설정 (통합 DB)
DB_HOST=localhost
DB_PORT=5432
DB_USER=hippo_user
DB_PASSWORD=hippo_password
DB_NAME=hippo_unified_db

# 알림 API 서버 설정
NOTIFICATION_API_URL=http://k8s-hippoapi-5ca1d6f5bb-347217567.ap-northeast-2.elb.amazonaws.com/api/notifications
