# Google Gemini API
GEMINI_API_KEY=AIzaSyBMRGADuRtrcJftihcwkg5KUF8YiynUnsc

# NCS API
NCS_API_KEY=hIl1Egc9LX2BgEfShlei4zCBKd7qeWn1KYKFIMZjjvcSoH87n11CvPwrAETPzLO7fgXz5B3ySzfi+vahNtMkjw==
NCS_API_URL=http://www.ncs.go.kr/api

# Perplexity API
PERPLEXITY_API_KEY=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
PERPLEXITY_API_ENDPOINT=https://api.perplexity.ai/chat/completions
PERPLEXITY_MODEL=sonar

# Server Configuration
PORT=4000
NODE_ENV=development
